#
# LGE U2
#

config MACH_LGE_U2
	bool "LGE U2 board"
	select HIGHMEM
	select TWL6030_PWM
	select TWL6030_GPADC
	select MISC_DEVICES
	select STAGING
	select IIO
	select HWMON
	select INPUT_MISC
	select INPUT_KEYBOARD
	select INPUT_TOUCHSCREEN
	select POWER_SUPPLY
	select TWL6030_BCI_BATTERY
	select SECURITY_MIDDLEWARE_COMPONENT
	select CDC_TCXO
	select INPUT_TWL6030_PWRBUTTON
	select OMAP_REBOOT_REASON

config INPUT_LGE_ANDROID_3KEYS
	bool "LGE U2 Android 3kyes for korea domestic board"
	depends on MACH_LGE_U2

config MACH_LGE_U2_P760
	bool "LGE U2 P760 board"
	depends on MACH_LGE_U2

config MACH_LGE_U2_P769
	bool "LGE U2 P769 board"
	depends on MACH_LGE_U2

config MACH_LGE_U2_P768
	bool "LGE U2 P768 board"
	depends on MACH_LGE_U2	
