menuconfig DSSCOMP
        tristate "OMAP DSS Composition support (EXPERIMENTAL)"
        depends on OMAP2_DSS
	default y

        help
          Frame composition driver using OMAP DSS2.  Allows using all
	  DSS2 resources in a unified configuration.  Should not be used
	  together with other DSS2 devices, such as V4L2 or framebuffer.

config DSSCOMP_DEBUG_LOG
	bool "Log event timestamps in debugfs"
	default y
	depends on DEBUG_FS

	help
	  Takes timestamp for each callback and state transition, and
	  logs the last 128 entries (last few frames' worth) in a
	  log buffer.  This is a separate menuconfig in case this is
	  deemed an overhead.

config DSSCOMP_ADAPT
	bool "DSSCOMP Adaptation(EXPERIMENTAL)"
	default n
	depends on DSSCOMP

	help
		When input of layer is not compatible with display,
		DSSCOMP_ADAPT will do adaptation processing.

config DSSCOMP_COPY_FOR_ROT
	bool "Rotation Support for Non 2D Tiler buffer in DSSCOMP (EXPERIMENTAL)"
	default n
	depends on DSSCOMP

	help
		When non 2D tiler buffer needs rotation, this will allocate 
		2D tiler buffer and copy buffer to allocated 2D tiler buffer.
		Using this feature, PVR will draw to VRAM.

