#
# LGE P940
#

config MACH_LGE_P2
	bool "LGE P2 board"
	select HIGHMEM
	select TWL6030_PWM
	select TWL6030_GPADC
	select MISC_DEVICES
	select STAGING
	select IIO
	select HWMON
	select INPUT_MISC
	select INPUT_KEYBOARD
	select INPUT_TOUCHSCREEN
	select POWER_SUPPLY
	select TWL6030_BCI_BATTERY
	select SECURITY_MIDDLEWARE_COMPONENT
	select CDC_TCXO
	select INPUT_TWL6030_PWRBUTTON
	select OMAP_REBOOT_REASON

config INPUT_LGE_ANDROID_3KEYS
	bool "LGE P2 Android 3kyes for korea domestic board"
	depends on MACH_LGE_P2

config MACH_LGE_P2_P940
	bool "LGE P2 P940 board"
	depends on MACH_LGE_P2
	default y

config MACH_LGE_P2_SU540
	bool "LGE P2 SU540 board"
	depends on MACH_LGE_P2

config MACH_LGE_P2_KU5400
	bool "LGE P2 KU5400 board"
	depends on MACH_LGE_P2

config MACH_LGE_P2_LU5400
	bool "LGE P2 LU5400 board"
	depends on MACH_LGE_P2

config MACH_LGE_P2_DCM
	bool "LGE P2 DCM board"
	depends on MACH_LGE_P2
