#
# LGE IFF
#

config MACH_LGE_IFF
	bool "LGE IFF board"
	select TWL6030_GPADC
#	select LEDS_OMAP4430_SDP_DISPLAY
#	select LEDS_OMAP4430_SDP_KEYPAD
#	select SENSORS_LM75
#	select INPUT_BH1780
#	select INPUT_BMP085
#	select INPUT_HMC5843
#	select INPUT_SFH7741
	select INPUT_MISC
	select HWMON
#	select INPUT_CMA3000
#	select INPUT_CMA3000_I2C
	select OMAP_PACKAGE_CBL
	select OMAP_PACKAGE_CBS
	select REGULATOR_FIXED_VOLTAGE
	select OMAP_TPS6236X
#	select TOUCHSCREEN_SYNTM12XX
	select TWL6030_POWEROFF
	select INPUT_TWL6030_PWRBUTTON
	select OMAP_REBOOT_REASON
