config BCM4330_B2
	tristate "Broadcom BCM4330 REV B2 wireless support"
	select WIRELESS_EXT
	---help---
	  This is a driver for the Broadcom BCM4330 REV B2 wireless chip.

config BCM4330_DEBUG
	bool "Debug"
	default n
	depends on BCM4330_B2

config LGE_BCM432X_PATCH
	bool "BCM432X Patch by LGE"
	default y
	depends on BCM4330_B2

config BCM4330_GPIO_WL_RESET
	int "GPIO WL_RESET"
	default 158
	depends on BCM4330_B2

config BRCM_LGE_WL_HOSTWAKEUP
	bool "Support BCM4325/BCM4329/BCM4330 Host Wakeup function"
	default y
	depends on BCM4330_B2

config BRCM_LGE_WL_HOSTWAKEUP_IOCTL
	bool "Use Host Wakeup ioctl function"
	default n
	depends on BCM4330_B2

config BRCM_LGE_WL_PKTFILTER
	bool "Setting Multicat/Broadcast packet fillter."
	default n
	depends on BCM4330_B2

config BRCM_LGE_WL_ARPOFFLOAD
	bool "Use Arp offload function."
	default n
	depends on BCM4330_B2

config BRCM_GPIO_INTR
	bool "Use Broadcom Host Wakeup GPIO"
	default n
	depends on BCM4330_B2
	---help---
	   This function is activated only if set CONFIG_HAS_EARLYSUSPEND.	

config BCM4330_GPIO_WL_HOSTWAKEUP
	int "GPIO WL_HOSTWAKEUP"
	default 167
	depends on BCM4330_B2

config BRCM_USE_DEEPSLEEP
	bool "Use deepsleep instead of dhd_dev_reset"
	default n
	depends on BCM4330_B2
	---help---
	  Use deepsleep instead of dhd_dev_reset and controlling GPIO when driver start or stop.

config BRCM_USE_SOFTAP
	bool "Use SoftAP"
	default n
	depends on BCM4330_B2
	---help---
	Using Softap feature.

config BRCM_USE_STATIC_BUF
	bool "Use static buff of osl_malloc"
	default n
	depends on BCM4330_B2

#LGE_CHANGE_S, 2011-0226, add CCX
config BCM43xx_CCX
    bool "Enable CCX feature"
    default n
    depends on BCM4330_B2
    ---help---
        Enabling/disabling CCX features
#LGE_CHANGE_E, 2011-0226, add CCX

config BRCM_USE_WLP2P
	bool "Use P2P"
	default n
	depends on BCM4330_B2
	---help---
	Using P2P feature.

config BRCM_USE_WLBTAMP
	bool "Use BTAMP"
	default n
	depends on BCM4330_B2
	---help---
	Using BTAMP feature.
